* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.container {
    border: 2px solid black;
    height: 804px;
    width: 804px;
    display: flex;
    flex-wrap: wrap;
}